[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.28.3"
bottle = "==0.12.25"
kubernetes = "==26.1.0"
prometheus-client = "==0.17.0"
APScheduler = "==3.10.0"

[dev-packages]

[requires]
python_version = "3.9"
