[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.36.16"
bottle = "==0.13.2"
kubernetes = "==32.0.0"
prometheus-client = "==0.21.1"
APScheduler = "==3.10.4"

[dev-packages]

[requires]
python_version = "3.9"
