[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.42.49"
bottle = "==0.13.4"
kubernetes = "==35.0.0"
prometheus-client = "==0.24.1"
APScheduler = "==3.10.4"

[dev-packages]

[requires]
python_version = "3.9"
